body{
    height: 100vh;
    background-color: black;
}
h1
{
    display:flex-box;
    justify-content: center;
    text-align: center;
    font-size: 9rem;
    position: relative;
    padding-top: 10%;
}
.letter
{
    transition: color 1000ms;
}
span{
    margin-left: -30px;
}